body {
  max-width: 600px;
  font-family: "Dosis", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}
b {
  color: #50717b;
}
.place {
  padding-top: 10px;
  padding-left: 25px;
}
.city {
  font-size: 20px;
  color: #50717b;
}
.temp {
  font-size: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.metric {
  font-size: 20px;
  font-weight: 300;
  color: black;
  text-decoration: none;
}

.degrees {
  padding-left: 30px;
  color: #50717b;
}
.weather-icon {
  padding-top: 8px;
  padding-right: 30px;
}
.forecast {
  margin: 3px;
  text-align: center;
}
.link {
  text-align: right;
}
.git-link {
  color: hotpink;
}
.git-link:hover {
  color: lightpink;
}
.forecast-day {
  color: #50717b;
  text-decoration: underline;
  font-weight: bold;
}
.forecast-weather-icon {
  width: 40px;
}
